body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-color: #bbd5dc;
    overflow: hidden;
}

div#overlay {
    background: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}
#overlay>div{
    border-radius: 25px 5px 25px 5px;
    border: 2px solid aqua;
    background-color: rgba(46,26,71,0.8);
    color: white;
}

#overlay #title {
    margin-top: 1vh;
    width: 80%;
    text-align: center;
}

#overlay #explainer {
    width: 80%;
    text-align: center;
    margin-block: 10vh;
}

#overlay #question {
    margin-top: 5vh;
    height: fit-content;
    width: 80%;
    text-align: center;
}

#overlat a{
    color: aqua;
}

#overlay a:visited{
    
    color:aqua;
}

button {
    margin: 10px;
    cursor:pointer;
}

#overlay div#answersDisplay {
    width: 80vw;
    position: fixed;
    bottom: 200;
    background-color: unset;
    border: none;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    justify-items: center;
    text-align: center;
    
}
#overlay div#answersDisplay h2 {
    width: 100%;
    border-radius: 25px 5px 25px 5px;
    border: 2px solid aqua;
    background-color: rgba(46,26,71,0.8);
    color: white;
    height: max-content;
}

#overlay div#scoreboard {
    margin-top: 1vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#overlay div#endScreen {
    width: 80%;
    text-align: center;
    margin-block: 10vh;
}
#overlay div#confirmationDialogue {
    width: 80%;
    text-align: center;
    margin-block: 10vh;
}
#overlay div#classifierResult{
    width: 50%;
    height: 5vh;
    font-size: 1em;
    margin-block: 2px;
    padding-top: 5px;
    vertical-align: middle;
    position: fixed;
    bottom: 5

}

#overlay div#classifierResult>div {
    display: flex;
    flex-direction: row;
    padding: unset;
    justify-content: space-around;
    
}
#overlay div#classifierResult>div p {
    margin: unset;
    margin-block: 2px;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}